[Service]
WorkingDirectory=/root/node-sample
ExecStart=/usr/bin/node boot.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
Environment='NODE_ENV=production' 'PORT=80'

[Install]
WantedBy=multi-user.target
