[Service]
WorkingDirectory=/home/web/node-sample
ExecStart=/usr/bin/node boot.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
User=web
Group=web
Environment='NODE_ENV=production'

[Install]
WantedBy=multi-user.target
